body{
    background-color: aliceblue;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(to right, red, blue) ;
    margin: 25px;
    border-style: double;
}

.logo{
    max-width: 150px;
    width: 100%;
}

#tc{
    font-size: 18px;
    border-style: double;
    background-color: aliceblue;
    margin-left: 40px;
}

.acc{
    font-size: 18px;
    max-width: 150px;
    width: 100%;
}

#lr{
    border-style: double;
    background-color: aliceblue;
    margin: 10px;
}

main{
    border-style: dotted;
}

.wrapper{
    padding-left: 100px;
    padding-right: 100px;
}

.title{
    border-style: double;
    margin-top: 50px;
    text-align: center;
}

.luoi{
    display: grid;
    padding-bottom: 100px;
    padding-top: 50px;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
}

.item{
    grid-column: span 4;
    border-style: groove;
}

.item  a img{
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url(123.png);
    margin: 25px;
    margin-left: 350px;
    margin-right: 350px;
    border-style: double;
}

.social{
    display: flex;
    margin: 10px;
}

.social-item{
    margin: 10px;
}
