.quochuy{
    font-size: 30px;
    color: red;
    margin-left: 550px;
}

.dut{
    font-size: 25px;
    margin-left: 650px;;
}

.lylich{
    color: blue;
    margin-left: 20px;
    font-size: 18px;
}

.gioithieu{
    font-size: 18px;
    margin-left: 15px;
}

#anh{
    margin-left: 655px;
}