.main{
    border-style: double;
    margin: 200px;
    text-align: center;
}
.quochuy{
    font-size: 30px;
    color: red;
}

.dut{
    font-size: 25px;
}

.lylich{
    color: blue;
    font-size: 18px;
}

.gioithieu{
    margin-left: 10px;
    text-align: start;
    font-size: 18px;
    
}

#anh{
    border-radius: 20%;
}